@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@600;700&family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 64px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("/src/images/beyonce-hero-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  text-align: center;
  padding: 120px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 171px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

header a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  background: #885df1;
  color: white;
  padding: 16px 32px;
  margin-top: 36px;
  border-radius: 100px;
  text-decoration: none;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../src/images/beyonce-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 0;
}

footer a {
  color: white;
  line-height: 2;
}

footer a:hover {
  text-decoration: underline;
}

footer h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.8;
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 40px;
    padding-bottom: 25px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 18px;
  }

  header a {
    font-size: 14px;
    padding: 12px 20px;
  }

  footer {
    font-size: 14px;
    padding: 30px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer a {
    font-size: 14px;
  }

  footer p {
    font-size: 13px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
