@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@600;700&family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(2, 4, 3, 0.9);
  color: #fff;
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("/src/images/beyonce-hero-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12rem 0 5rem 0;
  margin: 0;
}

header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 2rem;
}

header .button {
  position: absolute;
  bottom: 8rem;
}

section {
  max-width: 100%;

  margin: 0 auto;
}

section.songs {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../src/images/beyonce-songs-sec-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}

section.songs h2,
section.songs h3 {
  text-align: center;
}

section.more-songs {
  padding: 80px;
}

main {
  display: inline-block;
}

main h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
}

main h3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  padding-top: 10px;
}

main h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

main h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 10px 0;
}

main p {
  opacity: 70%;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../src/images/beyonce-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}

footer a {
  color: white;
  line-height: 2;
}

footer a:hover {
  color: #885df1;
}

footer h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.8;
}

.fa-angles-down {
  text-align: center;
  animation: blinking 2s ease-in-out infinite;
}

@keyframes blinking {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 60%;
    color: #885df1;
  }
  40% {
    opacity: 30%;
  }
  60% {
    opacity: 0%;
    color: #875df1c7;
  }
  80% {
    opacity: 30%;
  }
  100% {
    opacity: 60%;
    color: #875df1b9;
  }
}

.container {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.arrow-container {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 2rem;
}

.primary-button {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
  background: #885df1;
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0 0.5rem 0;
  border: 2px solid #885df1;
  border-radius: 100px;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

.button:hover {
  color: #000;
  background: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0 0.5rem 0;
}

.img-responsive {
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 64px;
}

.grid-main {
  grid-template-columns: 1fr 1fr;
}

.grid-songs {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.grid-videos {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0 171px;
  margin: 30px 0;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 30px 0;
  color: #000;
}

.card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.card .button {
  display: block;
}

section.more-songs h2,
section.more-songs h3 {
  text-align: center;
}

@media (max-width: 960px) {
  header {
    padding: 0;
  }

  header h1 {
    font-size: 3rem;
  }

  header h2 {
    font-size: 1.5rem;
    padding: 10px;
    line-height: 1;
  }

  header h3 {
    font-size: 2rem;
  }

  header h3,
  .grid-main h3,
  .grid-songs h3,
  .grid-videos h3 {
    font-size: 20px;
    padding-top: 10px;
  }

  main h4 {
    font-size: 18px;
  }

  section.songs h2,
  section.more-songs h2,
  section.grid-main h2 {
    font-size: 25px;
  }

  div.main-content {
    padding: 15px;
  }

  section.grid-main img {
    padding: 0;
  }

  section.songs,
  section.more-songs {
    padding: 10px;
  }

  footer {
    padding: 15px;
    margin-bottom: 20px;
  }

  footer h3 {
    font-size: 24px;
  }

  .card,
  div.video {
    margin: 10px;
  }

  .grid {
    gap: 2px;
  }

  .grid-main h2 {
    font-size: 25px;
  }

  .grid-main,
  .grid-videos,
  .grid-songs,
  .grid-footer {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
}
